/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}
main {
	background-image: url('../img/bg2.jpg'); 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: center center;
}
.jumbotron{
	/*color:white;*/
	background-image: url('../img/bg1.jpg'); 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: center center;
	background-attachment:fixed;
}

.introductionLogo{
	width: 15% ;
}