body{
	background: url( "../data/Background.png" ) left top;
	background-repeat: repeat;			
	background-attachment:fixed;
	font-family:FangSong,Microsoft JhengHei,sans-serif;
}
canvas{
	border:1px solid #000000;
}